@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@mixin overflow-text-hidden {
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  overflow: hidden; /* Hide any content that overflows */
  text-overflow: ellipsis;
}

@mixin set-to-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$color1: #ff6400;
$color2: #dddddd;
$color3: #0fa3b1;
$color4: white;
$bgColor: #191919;
