@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body section #modal {
  display: none;
}
body section #modal #form-sec {
  animation: identifier 0.3s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: min(90%, 350px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  border-radius: 5px;
}
body section #modal #form-sec .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
body section #modal #form-sec .modal-header > span {
  color: red;
  animation: pop-up 0.6s ease-in-out;
  transition: 0.3s;
  opacity: 0;
}
body section #modal #form-sec .modal-header #close {
  animation: pop-up-left 0.6s ease-in-out;
  cursor: pointer;
  align-self: flex-end;
  background-color: rgb(224, 224, 224);
  width: 37px;
  height: 37px;
  border-radius: 50%;
  transition: 0.4s;
  position: relative;
}
body section #modal #form-sec .modal-header #close span {
  position: absolute;
  opacity: 0;
  padding-left: 5px;
  transition: 0.2s;
  right: 5px;
  top: 10px;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
}
body section #modal #form-sec .modal-header #close svg {
  position: absolute;
  color: #ff6400;
  animation: rotate-x 0.6s ease-in-out;
  font-size: 20px;
  transition: 0.4s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body section #modal #form-sec .modal-header #close:hover {
  background-color: #ff6400;
  width: 100px;
  color: white;
  border-radius: 20px;
}
body section #modal #form-sec .modal-header #close:hover span {
  opacity: 1;
  right: 20%;
}
body section #modal #form-sec .modal-header #close:hover svg {
  left: 10%;
  transform: translate(-50%, 0%);
  color: white;
  rotate: 90deg;
}
body section #modal #form-sec form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
body section #modal #form-sec form input {
  animation: pop-up 0.6s ease-in-out;
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
body section #modal #form-sec form input:focus {
  border-color: rgb(0, 0, 0);
  padding-left: 15px;
}
body section #modal #form-sec form button {
  animation: pop-up 0.6s ease-in-out;
}
body section #modal #form-sec form input.invalid {
  border-color: red;
}
body section #modal .overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
body section #modal.active {
  display: block;
}

@media (min-width: 640px) {
  body section #modal #form-sec {
    width: 350px;
  }
}/*# sourceMappingURL=modal.css.map */